.label {
  display: block;

  font-size: var(--basic-fz);
  line-height: var(--basiz-lh);
  color: var(--color-grey-font);
}

.textarea {
  resize: none;

  display: block;

  width: 100%;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 18px;
  padding-left: 12px;

  font-family: inherit;
  font-size: var(--basic-fz);
  line-height: var(--basiz-lh);
  color: var(--color-black);

  background-color: transparent;
  border: 1px solid var(--color-grey);

  transition: 200ms;
}

.textarea:focus {
  border: 1px solid var(--color-black);
  outline: none;
}
