.content-box {
  padding-top: 23px;
}

.add-button {
  display: block;

  margin-bottom: 13px;
  margin-left: auto;
}

.list li {
  border-bottom: 1px solid var(--color-grey);
}

.list li:last-child {
  border-bottom: none;
}
