.shadow {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
}

.box {
  width: fit-content;
  min-width: 378px;

  background-color: var(--color-neutral-light);
  border-radius: 2px;
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 17px 24px;

  border-bottom: 1px solid var(--color-grey);
}

.title {
  margin: 0;

  font-size: var(--main-title-fz);
  line-height: var(--main-title-lh);
}

.cross-button {
  width: 24px;
  height: 24px;

  background-image: url('../../../assets/icons/cross-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
