:root {
  --color-black: #1a1718;

  --color-light-bg-gray: #fcfbfb;
  --color-bg-gray: #faf7f8;
  --color-grey: #dedbdc;
  --color-grey-font: #797476;

  --color-brand-red: #e15b64;
  --color-brand-orange: #f8b26a;

  --date-fz: 12px;
  --date-lh: 16px;

  --basic-fz: 14px;
  --basiz-lh: 24px;

  --item-title-fz: 16px;
  --item-title-lh: 24px;

  --title-fz: 18px;
  --title-lh: 24px;

  --section-title-fz: 22px;
  --section-title-lh: 24px;

  --main-title-fz: 20px;
  --main-title-lh: 24px;
}
