.box {
  position: relative;

  display: flex;
  gap: 12px;
  align-items: center;
}

.image {
  position: relative;

  overflow: hidden;

  width: 48px;
  height: 48px;

  border-radius: 50%;
}

.image img {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.title {
  margin-bottom: 1px;
}

.description {
  margin: 0;
  margin-bottom: 5px;

  color: var(--color-grey-font);
}

.date {
  color: var(--color-grey-font);
}

.menu-box {
  position: absolute;
  top: 0;
  right: 0;
}
